body {
	font-family: 'Dosis', sans-serif;
	font-size: 55px;
	color: #000;
	opacity: 1;
}
html { 
	background: url("http://cdn.paper4pc.com/images/heart-background-wallpaper-4.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.2;
}
html, body {
	overflow:hidden
}
input[type=text] {
	padding:5px; 
	font-size: 20px;
	border:2px; 
	solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
input[type=text]:focus {
	border-color:#333; 
}
input[type=submit] {
	padding:5px;
	border:2px 
	solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 20px;
}
input[type=submit]:focus {
	border-color:#333;
}
#container {
	width:960px;
	height:620px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-220px;
	margin-left:-480px;
	background:transparent;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 20px;
}
h3{
	font-size: 30px;
	font-family: 'Dosis', sans-serif;
}
h2{
	font-size: 25px;
}
textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 20px;
}